@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>;
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Set Role</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Set Role</li>
    </ol>
</div>
<!-- Single Page Header End -->
<div>
    <div class="container" style="padding-top: 120px; min-height:">
        <div class="row">
            <div class="col-md-12">
                <h5>
                    <p>
                        <a asp-action="SetRole">Create New</a>
                    </p>
                </h5>
            </div>
        </div>
</div>
</div>
<div>
        <table class="table table-bordered">
            <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            </tr>
        
        @foreach (var item in Model)
        {
            <tr>
            <td>@item.Id</td>
            <td>@item.UserName</td>
                <td><a class="nav-item nav-link" asp-action="SetRoles" asp-route-userId="@item.Id">Set Role</a></td>
            </tr>
        }
    </table>
    </div>
