@using Microsoft.AspNetCore.Identity
@model UserRoles

<!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Set Role</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Set Role</li>
            </ol>
        </div>
<!-- Single Page Header End -->
<h2>Set Roles for @Model.UserId</h2>

<form asp-action="SetRoles" method="post">
    <input type="hidden" asp-for="UserId" />

    <label for="SelectedRoles">Select Roles:</label>
    <select asp-for="SelectedRoles" asp-items="new SelectList(Model.AvailableRoles, nameof(IdentityRole.Name), nameof(IdentityRole.Name))" multiple></select>

    <button type="submit">Save Roles</button>
</form>
