@using NetCore_Assignemt.Areas.Identity.Data
@inject Microsoft.AspNetCore.Identity.UserManager<User> UserManager

@model IEnumerable<NetCore_Assignemt.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}
<div class="my-4 text-align:center">GreenWich BookStore</div>


<div class="row">
    @foreach (var item in ViewBag.Book)
    {
        <div class="col-3">
            <div class="card my-2 store-card">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.BookId">
                    <img src="/images/@item.ImagePath" class="card-img-top card-img-custom">
                    <div class="card-body" style="height: 6em;">
                        <h5 class="mb-3">@item.Title</h5>
                    </div>
                    <div class="card-body">
                        <span class="card-text">@item.Price</span>
                        <a asp-controller="" asp-action="" asp-route-id="@item.BookId" class="btn btn-primary float-right"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </a>
            </div>
        </div>
    }
</div>







