@using NetCore_Assignemt.Areas.Identity.Data
@inject Microsoft.AspNetCore.Identity.UserManager<User> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<!-- Example link to navigate to the role creation page -->
<a asp-controller="Roles" asp-action="Create">Create Role</a>
<a asp-controller="Admin" asp-action="SetRoles" asp-route-userId="@UserManager.GetUserId(User)">Set Roles</a>

