@model NetCore_Assignemt.Services.DTO.PaymentResponseDTO;

@{
    ViewData["Title"] = "Thanks You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>Code: @Model.RspCode</p>
<p>Message: @Model.Message</p>