@model NetCore_Assignemt.Services.DTO.PaymentResponseDTO;

@{
    ViewData["Title"] = "Thanks You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5 py-5">
    <div class="container mt-5 py-5 pt-2">
        <h1 class="mb-4 text-center border-bottom"><b>Thank you!</b></h1>
        <div class="container mt-5">
            <div class="text-center">
                <!-- Display payment status with dynamic background color -->
                <h2 class="font-weight-bold" id="paymentStatus" style="color: white;">@Model.Message</h2>

                <!-- Display response code in a pill badge -->
                <div class="mt-3">
                    <span class="badge badge-pill badge-secondary" id="responseCode">Code: @Model.RspCode</span>
                </div>
            </div>
        </div>
    </div>
</div>